body {
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: space-evenly;
}

.Poster {
  background-image: url(img/Frame.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;

}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 720px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}